In [1]:
import requests
import pandas as pd
import numpy as np
# import polars as pl
import json
import re

# Custom scripts
- scripts to retrive additional page with consideration for total records

In [10]:
def fetch_data(url: str, dataset_id: str) -> pd.DataFrame:
    """
    Fetches data from the Data.gov.sg API and returns a concatenated DataFrame.

    Args:
        url (str): The base URL for the API request.
        dataset_id (str): The ID of the dataset to fetch.

    Returns:
        pd.DataFrame: A concatenated DataFrame containing the fetched data.
    """
    _response_agg = []  # Initialize an empty list to store the DataFrames
    offset_value = 0  # Initialize the offset value
    total_records = 0  # Initialize the total records count

    while True:
        try:
            # Send a GET request to the API
            response = requests.get(url+dataset_id)
            response_text = json.loads(response.text)

            # Append the fetched data to the list
            _response_agg.append(pd.DataFrame.from_dict(response_text['result']['records']))

            # Check if there's a next page
            if 'next' not in response_text['result']['_links'].keys():
                break

            # Update the URL for the next page
            url = 'https://data.gov.sg' + response_text['result']['_links']['next']

            # Update the offset value and total records count
            match = re.search(r'offset=(\d+)', url)
            offset_value = int(match.group(1))
            total_records = response_text['result']['total']
            # print(total_records)

            # Break if the offset value exceeds the total records count
            if offset_value > total_records:
                break
        except Exception as e:
            print(f"Error: {e}")
            break

    # Concatenate the DataFrames
    df = pd.concat(_response_agg, ignore_index=True)

    return df

# Data Gov Sg data

## Private Residential Property Transactions in Rest of Central Region, Quarterly
### New Launch/Resale/SubSale Counts
- https://data.gov.sg/datasets/d_5785799d63a9da091f4e0b456291eeb8/view

In [11]:
property_transasctions = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=",
    dataset_id="d_5785799d63a9da091f4e0b456291eeb8"
    )

In [12]:
property_transasctions

     _id  quarter type_of_sale  sale_status units
0      1  2004-Q1     New Sale    Completed   128
1      2  2004-Q1     New Sale  Uncompleted   399
2      3  2004-Q1       Resale           na   359
3      4  2004-Q1     Sub Sale           na    16
4      5  2004-Q2     New Sale    Completed   128
..   ...      ...          ...          ...   ...
323  324  2024-Q1     Sub Sale           na   137
324  325  2024-Q2     New Sale    Completed     0
325  326  2024-Q2     New Sale  Uncompleted   230
326  327  2024-Q2       Resale           na  1091
327  328  2024-Q2     Sub Sale           na   148

[328 rows x 5 columns]

### Private Residential Property Rental Index , (Base Quarter 2009-Q1 = 100), Quarterly
- https://data.gov.sg/datasets/d_8e4c50283fb7052a391dfb746a05c853/view

In [13]:
rental_index = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_8e4c50283fb7052a391dfb746a05c853"
    )

In [14]:
rental_index

     _id  quarter    property_type                locality  index
0      1  2004-Q1  All Residential            Whole Island     64
1      2  2004-Q1           Landed            Whole Island   66.4
2      3  2004-Q1       Non-Landed            Whole Island   63.4
3      4  2004-Q1       Non-Landed     Core Central Region   63.3
4      5  2004-Q1       Non-Landed  Rest of Central Region   65.6
..   ...      ...              ...                     ...    ...
475  476  2024-Q2           Landed            Whole Island  149.5
476  477  2024-Q2       Non-Landed            Whole Island  156.5
477  478  2024-Q2       Non-Landed     Core Central Region  147.8
478  479  2024-Q2       Non-Landed  Rest of Central Region  164.6
479  480  2024-Q2       Non-Landed  Outside Central Region  163.3

[480 rows x 5 columns]

### Private Residential Property Price Index (Base Quarter 2009-Q1 = 100), Quarterly
- https://data.gov.sg/datasets/d_97f8a2e995022d311c6c68cfda6d034c/view

In [ ]:
price_index = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_97f8a2e995022d311c6c68cfda6d034c"
    )

### Median Annual Value and Property Tax By Type of Private Residential Property
- Median Annual Value and Property Tax
- https://data.gov.sg/datasets/d_774a81df45dca33112e59207e6dae1af/view

In [ ]:
median_val_property_tax = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_774a81df45dca33112e59207e6dae1af"
    )

### Private Residential Property Transactions in the Whole of Singapore, Quarterly
- Private Residential Property Transactions
- https://data.gov.sg/datasets/d_7c69c943d5f0d89d6a9a773d2b51f337/view

In [ ]:
private_residential_transactions_whole = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_7c69c943d5f0d89d6a9a773d2b51f337"
    )

## Private Residential Property Transactions in Outside Central Region, Quarterly
- https://data.gov.sg/datasets/d_1a7823f3d31e7db4b426833833762bab/view

In [ ]:
private_residential_transactions_outside_central = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_1a7823f3d31e7db4b426833833762bab"
    )

## Private Residential Property Transactions in Core Central Region, Quarterly
- https://data.gov.sg/datasets/d_c287c8be114bfa7d055b27ab2c87de83/view

In [ ]:
private_residential_transactions_central = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_c287c8be114bfa7d055b27ab2c87de83"
    )

## Demand for Rental and Sold Flats
- https://data.gov.sg/datasets/d_4b4ee36346b27fe35c529588900340b2/view

In [ ]:
demand_rental_sold_flats = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_4b4ee36346b27fe35c529588900340b2"
    )

## Number of Sold and Rented HDB Residential Units
- https://data.gov.sg/datasets/d_67966e5fd5dce14cf9fa5f0bc5164faf/view

In [ ]:
sold_rented_hdb = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_67966e5fd5dce14cf9fa5f0bc5164faf"
    )

## Price Range of HDB Flats Offered
- https://data.gov.sg/datasets/d_2d493bdcc1d9a44828b6e71cb095b88d/view

In [ ]:
price_range_hdb = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_2d493bdcc1d9a44828b6e71cb095b88d"
    )

## HDB Resale Price Index (1Q2009 = 100), Quarterly
- https://data.gov.sg/datasets/d_14f63e595975691e7c24a27ae4c07c79/view

In [ ]:
price_index_hdb = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_14f63e595975691e7c24a27ae4c07c79"
    )

## Renting Out of Flats 2024 (CSV)
- https://data.gov.sg/datasets/d_c9f57187485a850908655db0e8cfe651/view

In [ ]:
renting_flats = fetch_data(
    url="https://data.gov.sg/api/action/datastore_search?resource_id=", 
    dataset_id="d_c9f57187485a850908655db0e8cfe651"
    )